[submodule "zsh/plugins/fast-syntax-highlighting"]
	path = zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "nvim/plugins/site/pack/deps/start/mini.nvim"]
	path = nvim/plugins/site/pack/deps/start/mini.nvim
	url = https://github.com/echasnovski/mini.nvim
[submodule "nvim/plugins/site/pack/deps/opt/codeium.vim"]
	path = nvim/plugins/site/pack/deps/opt/codeium.vim
	url = https://github.com/Exafunction/codeium.vim
[submodule "nvim/plugins/site/pack/deps/opt/flash.nvim"]
	path = nvim/plugins/site/pack/deps/opt/flash.nvim
	url = https://github.com/folke/flash.nvim
[submodule "nvim/plugins/site/pack/deps/opt/friendly-snippets"]
	path = nvim/plugins/site/pack/deps/opt/friendly-snippets
	url = https://github.com/rafamadriz/friendly-snippets
[submodule "nvim/plugins/site/pack/deps/opt/gitsigns.nvim"]
	path = nvim/plugins/site/pack/deps/opt/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim
[submodule "nvim/plugins/site/pack/deps/opt/LuaSnip"]
	path = nvim/plugins/site/pack/deps/opt/LuaSnip
	url = https://github.com/L3MON4D3/LuaSnip
[submodule "nvim/plugins/site/pack/deps/opt/mason-lspconfig.nvim"]
	path = nvim/plugins/site/pack/deps/opt/mason-lspconfig.nvim
	url = https://github.com/williamboman/mason-lspconfig.nvim
[submodule "nvim/plugins/site/pack/deps/opt/mason-null-ls.nvim"]
	path = nvim/plugins/site/pack/deps/opt/mason-null-ls.nvim
	url = https://github.com/jay-babu/mason-null-ls.nvim
[submodule "nvim/plugins/site/pack/deps/opt/mason.nvim"]
	path = nvim/plugins/site/pack/deps/opt/mason.nvim
	url = https://github.com/williamboman/mason.nvim
[submodule "nvim/plugins/site/pack/deps/opt/none-ls.nvim"]
	path = nvim/plugins/site/pack/deps/opt/none-ls.nvim
	url = https://github.com/nvimtools/none-ls.nvim
[submodule "nvim/plugins/site/pack/deps/opt/nvim-lspconfig"]
	path = nvim/plugins/site/pack/deps/opt/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "nvim/plugins/site/pack/deps/opt/nvim-treesitter"]
	path = nvim/plugins/site/pack/deps/opt/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "nvim/plugins/site/pack/deps/opt/nvim-treesitter-textobjects"]
	path = nvim/plugins/site/pack/deps/opt/nvim-treesitter-textobjects
	url = https://github.com/nvim-treesitter/nvim-treesitter-textobjects
[submodule "nvim/plugins/site/pack/deps/opt/nvim-various-textobjs"]
	path = nvim/plugins/site/pack/deps/opt/nvim-various-textobjs
	url = https://github.com/chrisgrieser/nvim-various-textobjs
[submodule "nvim/plugins/site/pack/deps/opt/plenary.nvim"]
	path = nvim/plugins/site/pack/deps/opt/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
