.vscode/**
.vscode-test/**
.gitignore
*.vsix

# contains symbols in their filenames, which isn't supported by the VSIX format:
nvim/plugins/site/pack/deps/opt/snacks.nvim/tests
nvim/plugins/site/pack/deps/start/mini.nvim/tests

# symlinks with absolute path created by pixi
bin/linux/bin
bin/macos/bin
bin/windows/bin
