[mgr]
ratio          = [ 0, 1, 2 ]
scrolloff      = 10
show_hidden    = true
show_symlink   = false

[opener]
play = [
	{ run = """ vlc "$@" """, orphan = true, for = "unix" },
	{ run = """ vlc  %*  """, orphan = true, for = "windows" }
]
edit = [
	{ run = """  %EDITOR%  %*  2>nul  ||  nvim  %*  &  %YAZI_CMD%  2>nul  &  exit  0  """, block  = true, desc = "$EDITOR", for = "windows" },
	{ run = """ ${EDITOR:-nvim} "$@";                  $YAZI_CMD                      """, block  = true, desc = "$EDITOR", for = "unix" },
	{ run = """ code  %*                                                              """, orphan = true, desc = "vscode",  for = "windows" },
	{ run = """ code "$@"                                                             """, orphan = true, desc = "vscode",  for = "unix" },
]
