[mgr]
ratio          = [ 0, 1, 2 ]
scrolloff      = 10
show_hidden    = true
show_symlink   = false

[opener]
edit = [
	# { run = 'nvim %*',                                                                                  block = true,  desc = "nvim",    for = "windows" },
	# { run = '%EDITOR% %*',                                                                              block = true,  desc = "$EDITOR", for = "windows" },
	{ run = '%EDITOR% %* 2>nul || nvim -u "$HOME/.vscode/extensions/yeferyv.retronvim/nvim/init.lua" %*', block = true,  desc = "$EDITOR", for = "windows" },
	{ run = 'code %*',                                                                                    orphan = true, desc = "code",    for = "windows" },
	{ run = '${EDITOR:-nvim} "$@"',                                                                       block = true,  desc = "$EDITOR", for = "unix" },
]
